<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <script src="/javascript/HomePageScript.js"></script>
    <link rel="stylesheet" href="/stylesheets/HomePageStyle.css">    
  </head>
  <body>
    <h1>Welcome to the Home Page</h1>
    <button id="led-btn">Turn on Led</button>
    <div id = "home-body">
      <div id = "sensor-list-container">
      </div>
      <div id = "dht-data">
      </div>
      <div id = "chart-container">
      </div>
    </div>
    <p>Click <a href="/about">here</a> to go to the About Page</p>
  </body>

</html>
